<html>
	<head>
		<title>garagemon</title>
		<link rel="icon" href="/static/favicon.png" type="image/png">
		<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/static/favicon.png">
		<style type="text/css">
			* {
				font-family: Helvetica, sans-serif;
			}
			#peer {
				float: right;
				text-align: center;
				width: 30%;
			}
			#activate {
				background: #999;
				border: 1px solid #555;
				border-radius: 2em;
				clear: right;
				color: white;
				font-size: 72px;
				margin: auto;
				padding: 1em;
				text-align: center;
				width: 50%;
			}
			#activate.running {
				background: orange;
			}
			#activate.okay {
				background: green;
			}
			#activate.failed {
				background: red;
			}
		</style>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	</head>

	<body>

{{with .Peer}}
<div id="peer">
<img src="{{.ProfilePicURL}}" /><br />
{{.DisplayName}} <{{.LoginName}}><br />
(via Tailscale)
</div>
{{end}}

<h1>garagemon</h1>

<p>
Running for {{.Uptime}} in <em>{{.Config.Mode}}</em> mode.
</p>

<div id="activate">
	Activate!
</div>

<script type="text/javascript">
var button = $("#activate");
button.click(function() {
	if (button.hasClass("running")) {
		return;
	}
	button.addClass("running");
	$.post("/activate", function() {
		button.addClass("okay");
	}).fail(function() {
		button.addClass("failed");
		// TODO: capture some sort of text response?
	}).always(function() {
		button.removeClass("running");
		setTimeout(function() {
			button.removeClass(["okay", "failed"]);
		}, 2000);
	});
});
</script>

	</body>
</html>
