[Unit]
Description=garagemon
After=multi-user.target

[Service]
Type=simple

# Needed if running as non-root.
# ExecStartPre=/home/dsymonds/src/garagemon/led-setup.sh

WorkingDirectory=/volume1/mon
ExecStart=/volume1/mon/bin/garagemon.arm \
  -config_file=garagemon.yaml \
  -http=:7000 \
  -net_interface=tailscale0

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
