[Unit]
Description=garagemon
After=multi-user.target

[Service]
Type=simple

# Needed if running as non-root.
# ExecStartPre=/home/dsymonds/src/garagemon/led-setup.sh

WorkingDirectory=/home/dsymonds/src/garagemon
ExecStart=/home/dsymonds/src/garagemon/garagemon \
  -config_file=garagemon.yaml \
  -http=:80 \
  -net_interface=tailscale0

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
